USE [DBSalesRequest]
GO
/****** Object:  Table [dbo].[betable]    Script Date: 15.06.2018 13:59:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[betable](
	[BE] [nvarchar](255) NOT NULL,
	[BEName] [nvarchar](255) NULL,
 CONSTRAINT [PK_betable] PRIMARY KEY CLUSTERED 
(
	[BE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
