USE [DBSalesRequest]
GO
/****** Object:  Table [dbo].[DBSRZayavkiTemp]    Script Date: 15.06.2018 13:59:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DBSRZayavkiTemp](
	[ВидПродукцииId] [int] NULL,
	[ГодныйValue] [nvarchar](10) NULL,
	[РегионПоставкиId] [int] NULL,
	[ВидПоставкиValue] [nvarchar](20) NULL,
	[ВидТранспортировкиValue] [nvarchar](20) NULL,
	[ИнкотермсValue] [nvarchar](4) NULL,
	[МесяцПоставки] [datetime] NULL,
	[СостояниеЗаявкиValue] [nvarchar](40) NULL,
	[ФронтОфицерId] [int] NULL,
	[ЕдиницаИзмеренияValue] [nvarchar](10) NULL,
	[ПодтвержденныйОбъем] [float] NULL,
	[ВалютаId] [int] NULL,
	[ЦенаНаЗаводеБезНДС] [float] NULL,
	[ПлощадкаId] [int] NULL,
	[МинГарантОбъем] [float] NULL,
	[ДопЗаявка] [float] NULL,
	[Договор] [nvarchar](50) NULL,
	[ДебиторНаименование] [nvarchar](200) NULL,
	[ДебиторКод] [nvarchar](11) NULL,
	[ПортПеревалкиId] [int] NULL,
	[ДляКогоМеталл] [nvarchar](200) NULL,
	[Инкотермс2Value] [nvarchar](50) NULL,
	[Ключевой] [bit] NULL,
	[СегментValue] [nvarchar](50) NULL,
	[СтранаЭкспортId] [nvarchar](10) NULL,
	[СтранаНазначенияЭкспорт] [nchar](10) NULL,
	[TermSpotValue] [nvarchar](4) NULL,
	[СтоимостьФрахтаБезНДС] [float] NULL,
	[ПрочиеКомиссииИСборыБезНДС] [float] NULL,
	[МесяцЗаказа] [datetime] NULL,
	[КомментарийКСделке] [nvarchar](200) NULL,
	[ЦенаПокупателяБезНДС] [float] NULL,
	[СтоимостьПеревалкиБезНДС] [float] NULL,
	[БазоваяЦенаБезНДС] [float] NULL,
	[СтоимостьТранспортировкиБезНДС] [float] NULL,
	[ДопСкидка] [float] NULL,
	[ПрогнознаяСкидка] [float] NULL,
	[РегиональнаяСкидка] [float] NULL,
	[СкидкаЗаУсловиеОплаты] [float] NULL,
	[ОбъемнаяСкидка] [float] NULL,
	[КемСозданоId] [int] NULL,
	[КемИзмененоId] [int] NULL,
	[Изменено] [datetime] NULL,
	[Создано] [datetime] NULL,
	[SROldRequestStationValue] [nvarchar](20) NULL,
	[ЗаявленныйОбъем] [float] NULL,
	[ОбъявленнаяЗапись] [datetime] NULL,
	[ГодовойПланТонн] [float] NULL,
	[DeleteId] [nvarchar](300) NULL,
	[ManagerId] [int] NULL,
	[FKPI] [float] NULL,
	[Идентификатор] [int] NULL,
	[ТипКонтента] [nvarchar](20) NULL,
	[Owshiddenversion] [int] NULL,
	[Версия] [nvarchar](6) NULL,
	[Путь] [nvarchar](250) NULL
) ON [PRIMARY]
GO
