USE [DBSalesRequest]
GO
/****** Object:  Table [dbo].[DBSRZayavki]    Script Date: 15.06.2018 13:59:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DBSRZayavki](
	[ВидПродукцииId] [int] NULL,
	[ГодныйValue] [nvarchar](10) NULL,
	[РегионПоставкиId] [int] NULL,
	[ВидПоставкиValue] [nvarchar](50) NULL,
	[ВидТранспортировкиValue] [nvarchar](50) NULL,
	[МесяцПоставки] [datetime] NULL,
	[СостояниеЗаявкиValue] [nvarchar](50) NULL,
	[ФронтОфицерId] [int] NULL,
	[ЕдиницаИзмеренияValue] [nvarchar](50) NULL,
	[ПодтвержденныйОбъем] [float] NULL,
	[ВалютаId] [int] NULL,
	[ЦенаНаЗаводеБезНДС] [float] NULL,
	[ПлощадкаId] [int] NULL,
	[МинГарантОбъем] [float] NULL,
	[ДопЗаявка] [float] NULL,
	[ContrDebtCheckBename] [nvarchar](50) NULL,
	[ContrDebtCheckFullName] [nvarchar](200) NULL,
	[ContrDebtCheckВнешНомерДоговора] [nvarchar](50) NULL,
	[ContrDebtCheckДебитор] [nvarchar](50) NULL,
	[Договор] [nvarchar](50) NULL,
	[ДебиторНаименование] [nvarchar](200) NULL,
	[ДебиторКод] [nvarchar](50) NULL,
	[UpdateByContrDebtBecheck] [nvarchar](250) NULL,
	[ПортПеревалкиId] [int] NULL,
	[ДляКогоМеталл] [nvarchar](200) NULL,
	[Инкотермс2Value] [nvarchar](50) NULL,
	[Ключевой] [bit] NULL,
	[СегментValue] [nvarchar](50) NULL,
	[СтранаЭкспортId] [int] NULL,
	[СтранаНазначенияЭкспорт] [nvarchar](10) NULL,
	[TermSpotValue] [nvarchar](50) NULL,
	[СтоимостьФрахтаБезНДС] [float] NULL,
	[ПрочиеКомиссииИСборыБезНДС] [float] NULL,
	[МесяцЗаказа] [datetime] NULL,
	[КомментарийКСделке] [nvarchar](500) NULL,
	[ЦенаПокупателяБезНДС] [float] NULL,
	[СтоимостьПеревалкиБезНДС] [float] NULL,
	[БазоваяЦенаБезНДС] [float] NULL,
	[СтоимостьТранспортировкиБезНДС] [float] NULL,
	[ДопСкидка] [float] NULL,
	[ПрогнознаяСкидка] [float] NULL,
	[РегиональнаяСкидка] [float] NULL,
	[СкидкаЗаУсловиеОплаты] [float] NULL,
	[ОбъемнаяСкидка] [float] NULL,
	[КемСозданоId] [int] NULL,
	[КемИзмененоId] [int] NULL,
	[Изменено] [datetime] NOT NULL,
	[Создано] [datetime] NULL,
	[SROldRequestStationValue] [nvarchar](50) NULL,
	[ЗаявленныйОбъем] [float] NULL,
	[Годовой план] [float] NULL,
	[FKPI] [float] NULL,
	[Идентификатор] [int] NOT NULL,
	[ТипКонтента] [nvarchar](50) NULL,
	[Owshiddenversion] [int] NULL,
	[Версия] [nvarchar](50) NULL,
	[Путь] [nvarchar](250) NULL,
	[ИнкотермсValue] [nvarchar](50) NULL,
	[isdeleted] [bit] NOT NULL,
	[dateofdeletion] [datetime] NULL,
	[managerid] [int] NULL
) ON [PRIMARY]
GO
