USE [DBSalesRequest]
GO
/****** Object:  Table [dbo].[DBSRVPGroup]    Script Date: 15.06.2018 13:59:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DBSRVPGroup](
	[SRVPGroupValue] [nvarchar](50) NULL,
	[SRVidProdId] [int] NULL,
	[Идентификатор] [int] NULL
) ON [PRIMARY]
GO
