USE [DBSalesRequest]
GO
/****** Object:  Table [dbo].[DBSRTCountries]    Script Date: 15.06.2018 13:59:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DBSRTCountries](
	[Code] [nvarchar](250) NOT NULL,
	[Name] [nvarchar](250) NULL
) ON [PRIMARY]
GO
