USE [DBSalesRequest]
GO
/****** Object:  Table [dbo].[DBSRPorts]    Script Date: 15.06.2018 13:59:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DBSRPorts](
	[Порт перевалки] [nvarchar](50) NULL,
	[Идентификатор] [int] NULL
) ON [PRIMARY]
GO
