USE [e-con stock and price]
GO
/****** Object:  Table [dbo].[OZMFrequency]    Script Date: 15.06.2018 14:09:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OZMFrequency](
	[OZM] [nvarchar](50) NULL,
	[FreqOfSale] [int] NULL
) ON [PRIMARY]
GO
